# Java / Maven
movem8/target/
*.iml
.idea/

# Flutter
move-m8/build/
move-m8/.dart_tool/
move-m8/.packages
move-m8/.flutter-plugins*
move-m8/.metadata

# Docker / secrets
**/.env

# macOS
.DS_Store

# IDE
.project
.classpath
.settings/
.vscode/
